doctype html
html(lang='en')
  head
    title= PizzaShopTitle
    meta(charset='utf-8')
    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type="text/javascript", src="/javascripts/jquery-3.2.1.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  block content

